.carousel-caption {
    top: 0;
    bottom: auto;
}
.carousel-subtitle {
  font-size: 30px;
}

#redbutton {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

#bluebutton {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

#greenbutton {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.bigbutton {
	width: 100%;
	text-align: center;
	border-radius: 25px;

  font-size: 40px;
}
h1 { text-align: center; } 
.row {padding: 30px ;}

h2 { text-align: center; } 
.row {padding: 30px ;}