body { 
  background-image: url("rainingbackgroundfaded.jpg");

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #D6D6D6;
}

.carousel-inner > .item > img {
  width:100%;
  height:80%;
}

.top-buffer { 
  margin-top:10px; 
}

.carousel-caption {
    top: 0;
    bottom: auto;
}
.carousel-subtitle {
  font-size: 30px;
}

#redbutton {
  background: #767a76;
  background-image: -webkit-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -moz-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -ms-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -o-linear-gradient(top, #767a76, #c2c7bf);
  background-image: linear-gradient(to bottom, #767a76, #c2c7bf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:inline-block;
  width: 65%;
  position: relative;
  float: none
}
  @media 
}


#redbutton:hover {
  background: #636664;
  background-image: -webkit-linear-gradient(top, #636664, #b3b3b3);
  background-image: -moz-linear-gradient(top, #636664, #b3b3b3);
  background-image: -ms-linear-gradient(top, #636664, #b3b3b3);
  background-image: -o-linear-gradient(top, #636664, #b3b3b3);
  background-image: linear-gradient(to bottom, #636664, #b3b3b3);
  text-decoration: none;
}


#bluebutton {
  background: #767a76;
  background-image: -webkit-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -moz-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -ms-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -o-linear-gradient(top, #767a76, #c2c7bf);
  background-image: linear-gradient(to bottom, #767a76, #c2c7bf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:inline-block;
  width: 65%;
  position: relative;
  float: none
}

#bluebutton:hover {
  background: #636664;
  background-image: -webkit-linear-gradient(top, #636664, #b3b3b3);
  background-image: -moz-linear-gradient(top, #636664, #b3b3b3);
  background-image: -ms-linear-gradient(top, #636664, #b3b3b3);
  background-image: -o-linear-gradient(top, #636664, #b3b3b3);
  background-image: linear-gradient(to bottom, #636664, #b3b3b3);
  text-decoration: none;
}

#greenbutton {
  background: #767a76;
  background-image: -webkit-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -moz-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -ms-linear-gradient(top, #767a76, #c2c7bf);
  background-image: -o-linear-gradient(top, #767a76, #c2c7bf);
  background-image: linear-gradient(to bottom, #767a76, #c2c7bf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:inline-block;
  width: 65%;
  position: relative;
  float: none
}

#greenbutton:hover {
  background: #636664;
  background-image: -webkit-linear-gradient(top, #636664, #b3b3b3);
  background-image: -moz-linear-gradient(top, #636664, #b3b3b3);
  background-image: -ms-linear-gradient(top, #636664, #b3b3b3);
  background-image: -o-linear-gradient(top, #636664, #b3b3b3);
  background-image: linear-gradient(to bottom, #636664, #b3b3b3);
  text-decoration: none;
}



.bigbutton {
	width: 100%;
	text-align: center;
	border-radius: 25px;

    font-size: 40px;
}
h1 { text-align: center; 
    font-size: 60px;
} 


h2 { 
    text-align: center;
	 font-size: 25px;
    color: white;
}


h3 {
    text-align: center;
  font-size: 16px;
    color: black;
}


h4 {
  text-align: center;
  font-size: 23px;
  color: black;
}

h5 { 
    text-align: center;
    font-size: 16px;
    color: black;
    font: Stencil Std, fantasy;
}


li { 
    text-align: left;
  font-size: 18px;
    color: black;
}

@media screen and (min-width: 992px) {
  #topbutton {
    margin-top: 10px;
  }
}

.overlay { 
  color:#fff;
  position: absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
  top: 0;
  bottom: auto;
}

.container1 {
      position: relative;
      width: 100%;
      height: 300px;
    }


.image {
     position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }


.overlay2 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      clear: float;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      color: #ffffff;
    }

.container1:hover .overlay2 {
  display: block;  
  height: 300px;

}


.text {
  color: black;
  font-size: 20px;
  position: absolute;
  padding: 30px 30px 30px 30px;
}

.textcontainer {
    background: rgba(255, 255, 255, 0.5);
    background-repeat:no-repeat;
    border: white;
    text-align: center;
    border-radius: 20px;
    position: relative;
    width: 100%;
  }


.textcontainer:hover .overlay2 {
  display: block;
  height: 600px;
}



.container2 {
      position: relative;
      width: 100%;
      height: 400px;
    }

.container2 h5 {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: bold;
  left: 450px;
  top: 45px;
}

.container2:hover .overlay2 {
  display: block;
}

.Important_2 {
  display:inline-block;
  width:100%;
  height: 400px;
}

.container3 {
      position: relative;
      width: 100%;
      height: 663px;
    }

.container3 h5 {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: bold;
  left: 45px;
  top: 40px;

}

.container3:hover .overlay2 {
  display: block;
  height: 663px;
}

.Important_3 {
  display:inline-block;
  width:100%;
  height: 663px;
}

.container4 {
      position: relative;
      width: 100%;
      height: 663px;
    }

.container4 h5 {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: bold;
  left: 60px;
  top: 40px;
}

.container4:hover .overlay2 {
  display: block;
}

.Important_4 {
  display:inline-block;
  width:100%;
  height: 663px;
}

.container5 {
      position: relative;
      width: 100%;
      height: 800px;
    }

.container5 h5 {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: bold;
  left: 30px;
  top: 40px;
}

.container5:hover .overlay2 {
  display: block;
}

.Important_5 {
  display:inline-block;
  width:100%;
  height: 800px;
}

.container6 {
      position: relative;
      width: 100%;
      height: 800px;
    }

.container6 h5 {
  z-index: 100;
  position: absolute;
  color: lightgrey;
  font-size: 30px;
  font-weight: bold;
  left: 30px;
  top: 40px;
}

.container6:hover .overlay2 {
  display: block;
  height: 800px;
}

.Important_6 {
  display:inline-block;
  width:100%;
  height: 800px;
}

.container7 {
      position: relative;
      width: 100%;
      height: 400px;
    }

.container7 h5 {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: bold;
  left: 400px;
  top: 15px;
}

.container7:hover .overlay2 {
  display: block;
}

.Important_7 {
  display:inline-block;
  width:100%;
  height: 400px;
}

.hideoverflow {
  overflow: hidden;
}

.paddedrow {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .mobilesmall {
    width: 50%
  }
}




